---
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';
import FormattedDate from '@components/FormattedDate.astro';

// Filter out content entries with draft: true
const publishedBlogEntries = await getCollection('blog', ({ data }) => {
  return data.draft !== true;
});

const posts = publishedBlogEntries.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<MainLayout>
  <h1 class="mb-4 text-center font-display text-2xl font-bold md:text-4xl">
    sl [infinity] blog [✒️].
  </h1>
  <p class="mb-8 text-center font-body text-lg">
    My thoughts here, I write about random stuff, tech, and life in general.
    <br /><a href="https://twitter.com/kashurgeek" target="_blank" class="text-primary"
      >Follow me on twitter</a
    > to get notified when I post something new.
    <br /> showing [{posts.length}] posts.
  </p>
  <main>
    <section class="mx-8 grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
      {
        posts.map((post) => (
          <a href={`/blog/${post.slug}/`}>
            <div class="bg-base-500 card card-compact w-full border-2 border-primary shadow-xl">
              <figure>
                <img src={post.data.heroImage} alt="{post.data.heroImage}" />
              </figure>
              <div class="card-body">
                <h2 class="card-title font-display font-bold ">{post.data.title}</h2>
                <FormattedDate date={post.data.pubDate} />
                <p class="font-body">{post.data.description}</p>
                <div class="card-actions justify-end">
                  {post.data.tags &&
                    post.data.tags.map((tag) => <div class="badge badge-outline">{tag}</div>)}
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </section>
  </main>
</MainLayout>
