---
import { Image, Picture } from 'astro:assets';
import MainLayout from '@layouts/MainLayout.astro';
import { SITE, SOCIAL } from '@consts';

import myImage from '@images/lucas-k-wQLAGv4_OYs-unsplash.jpg';

// Social Icons
import linkedInIcon from '@svgs/icons8_linkedin.svg';
import twitterIcon from '@svgs/icons8_twitter.svg';
import githubIcon from '@svgs/icons8_github.svg';
import dribbleIcon from '@svgs/icons8_dribbble.svg';
import instagramIcon from '@svgs/icons8_instagram.svg';
---

<MainLayout>
  <!-- Hero -->
  <section class="mx-4 flex h-[80vh] flex-col items-center justify-center md:flex-row lg:mx-16">
    <main class="animate-slide-in p-4 sm:p-8 md:w-2/3">
      <small class="text-left font-secondary text-sm sm:text-lg">Hello, I'm</small>
      <h1 class="mb-4 font-primary text-4xl font-bold sm:text-6xl">Sahil Ahmad</h1>
      <h2 class="mb-4 font-secondary text-2xl sm:text-4xl">A Multifaceted Developer & Designer</h2>
      <p class="font-secondary text-lg sm:text-2xl">
        I craft unique brand identities, compelling websites, and innovative software solutions.
      </p>
      <div class="mt-8">
        <a class="btn btn-primary btn-sm mr-2 font-secondary uppercase" href={`mailto:${SITE.MAIL}`}
          >Contact me</a
        >
        <a
          class="btn btn-secondary btn-sm font-secondary uppercase"
          href="/resume/Sahil_Resume_W_2024.pdf"
          download>Download Resume</a
        >
      </div>

      <div class="mt-8 inline-flex space-x-4">
        <span>Social Links:</span>
        <a
          class="tooltip tooltip-bottom"
          data-tip="LinkedIn"
          href={SOCIAL.LINKEDIN}
          target="_blank"
        >
          <Image class="social-icon" src={linkedInIcon} alt="Link to my LinkedIn profile" />
        </a>
        <a
          class="tooltip tooltip-bottom"
          data-tip="Twitter / X."
          href={SOCIAL.TWITTER}
          target="_blank"
        >
          <Image class="social-icon" src={twitterIcon} alt="My Twitter AKA The X." />
        </a>
        <a class="tooltip tooltip-bottom" data-tip="GitHub" href={SOCIAL.GITHUB} target="_blank">
          <Image class="social-icon" src={githubIcon} alt="My Github." />
        </a>
        <a class="tooltip tooltip-bottom" data-tip="Dribble" href={SOCIAL.DRIBBLE} target="_blank">
          <Image class="social-icon" src={dribbleIcon} alt="My Dribble." />
        </a>
        <a
          class="tooltip tooltip-bottom"
          data-tip="Instagram"
          href={SOCIAL.INSTAGRAM}
          target="_blank"
        >
          <Image class="social-icon" src={instagramIcon} alt="My Instagran." />
        </a>
      </div>
    </main>
    <div class="md:w-1/3">
      <Picture
        class="transform rounded object-cover object-center transition-transform hover:scale-105"
        src={myImage}
        formats={['avif', 'webp']}
        alt="A picture of smoke"
        loading="eager"
      />
    </div>
  </section>
</MainLayout>

<style>
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fadeIn 1s ease-out;
  }
  .social-icon {
    width: 26px;
    height: 26px;
  }
</style>
