---
import NavLink from '@components/NavLinks.astro';
import { Image } from 'astro:assets';

import { SITE } from '@consts';
const links = [
  { href: '/projects', text: 'Projects' },
  { href: '/contact', text: 'Contact' },
  { href: '/blog', text: 'Blog' },
];
// icons
import menu from '@svgs/bars-sort.svg';
import dark from '@svgs/dark.svg';
import light from '@svgs/light.svg';
import close from '@svgs/xmark.svg';
---

<header class="navbar bg-primary text-primary-content lg:px-12" transition:persist>
  <!-- Small Screen Nav -->
  <div class="navbar-start">
    <!-- Mobile Menu -->
    <div class="drawer z-20 lg:hidden">
      <input
        id="mobile-menu"
        type="checkbox"
        class="drawer-toggle"
        aria-label="Mobile menu toggle"
      />
      <div class="drawer-content">
        <label for="mobile-menu" class="btn btn-primary drawer-button">
          <Image class="size-8" src={menu} alt="Menu icon" />
        </label>
      </div>
      <div class="drawer-side">
        <nav class="menu min-h-full w-80 bg-base-100 p-4 text-3xl shadow-sm shadow-primary text-base-content font-body font-medium">
          <ul>
            <li>
              <label for="mobile-menu" aria-label="Close sidebar" class="drawer-overlay text-sm">
                <Image class="size-8" src={close} alt="Close icon" /> Close
              </label>
            </li>
            <li><a href="/">Home.</a></li>
            {links.map((link) => <NavLink href={link.href}>{link.text}.</NavLink>)}
          </ul>
        </nav>
      </div>
    </div>

    <!-- Logo -->
    <span
      class="hidden font-display font-medium text-3xl italic hover:underline hover:underline-offset-4 lg:inline-block lg:text-3xl"
    >
      <a href="/" aria-label="Home">{SITE.AUTHOR}.</a>
    </span>
  </div>

  <div class="navbar-center">
    <!-- Logo -->
    <span
      class="font-display text-2xl italic hover:underline hover:underline-offset-4 md:hidden lg:text-2xl"
    >
      <a href="/" aria-label="Home">{SITE.AUTHOR}.</a>
    </span>
    <!-- Large Screen Nav -->
    <ul class="menu menu-horizontal hidden px-1 lg:flex font-body font-medium text-lg">
      {links.map((link) => <NavLink href={link.href}>{link.text}</NavLink>)}
    </ul>
  </div>

  <div class="navbar-end">
    <!-- Theme Switcher -->
    <span>
      <label class="swap swap-rotate">
        <input
          name="theme"
          type="checkbox"
          class="theme-controller"
          value="InfinityLight"
          aria-label="Theme switcher"
        />
        <Image class="swap-on size-8" src={light} alt="Light theme icon" />
        <Image class="swap-off size-8" src={dark} alt="Dark theme icon" />
      </label>
    </span>
  </div>
</header>
