---
import NavLink from '@components/NavLinks.astro';
import { Image } from 'astro:assets';

import { SITE } from '@consts';
const links = [
  { href: '/projects', text: 'Projects' },
  { href: '/contact', text: 'Contact' },
  { href: '/blog', text: 'Blog' },
];
// icons
import menu from '@svgs/bars-sort.svg';
import dark from '@svgs/dark.svg';
import light from '@svgs/light.svg';
---

<div class="drawer font-body text-primary-content" transition:persist>
  <input id="mobile-menu" type="checkbox" class="drawer-toggle" />
  <div class="drawer-content flex flex-col">
    <!-- Navbar -->
    <div class="navbar w-full bg-primary lg:px-12">
      <div class="flex-none lg:hidden">
        <label for="mobile-menu" aria-label="open sidebar" class="btn btn-square btn-ghost">
          <Image class="size-6" src={menu} alt="Menu icon" />
        </label>
      </div>
      <div
        class="mx-2 flex-1 px-2 font-display text-2xl font-semibold italic hover:underline lg:text-3xl"
      >
        <a href="/" aria-label="Home">{SITE.AUTHOR}.</a>
      </div>

      <div class="hidden flex-none lg:block">
        <ul class="menu menu-horizontal text-lg font-medium">
          <!-- Navbar menu content here -->
          {links.map((link) => <NavLink href={link.href}>{link.text}</NavLink>)}
        </ul>
      </div>

      <!-- Theme Switcher -->
      <span class="sm:mr-2">
        <label class="swap swap-rotate">
          <input
            name="theme"
            type="checkbox"
            class="theme-controller"
            value="InfinityLight"
            aria-label="Theme switcher"
          />
          <Image class="swap-on size-8" src={light} alt="Light theme icon" />
          <Image class="swap-off size-8" src={dark} alt="Dark theme icon" />
        </label>
      </span>
    </div>
  </div>

  <div class="drawer-side z-10">
    <label for="mobile-menu" aria-label="close sidebar" class="drawer-overlay"></label>
    <ul
      class="menu flex min-h-full w-60 flex-col items-center bg-base-200 p-4 pt-12 text-3xl font-medium text-base-content"
    >
      <!-- Sidebar content here -->
      <li class="pb-4 font-bold">Main Menu</li>
      <li><a href="/">Home.</a></li>
      {links.map((link) => <NavLink href={link.href}>{link.text}.</NavLink>)}
    </ul>
  </div>
</div>
