---
import NavLink from '@components/NavLinks.astro';
import { Image } from 'astro:assets';

import { SITE } from '@consts';
const links = [
  { href: '/projects', text: 'Projects' },
  { href: '/contact', text: 'Contact' },
  { href: '/blog', text: 'Blog' },
];
// icons
import light from '@assets/svgs/light.svg';
import dark from '@assets/svgs/dark.svg';
---

<header class="navbar border-b-4 border-primary/50 lg:px-16" transition:persist>
  <div class="navbar-start">
    <div class="dropdown">
      <div tabindex="0" role="button" class="btn btn-ghost lg:hidden" aria-label="Menu">|||</div>
      <ul
        tabindex="0"
        class="menu dropdown-content menu-sm z-[1] mt-3 w-52 rounded-box bg-base-100 p-2 shadow lg:hidden"
      >
        {links.map((link) => <NavLink href={link.href}>{link.text}</NavLink>)}
      </ul>
    </div>

    <a class="btn btn-ghost text-xl" href="/">
      <span>
        {SITE.TITLE}
      </span>
    </a>
  </div>

  <div class="navbar-end lg:flex">
    <ul class="menu menu-horizontal hidden px-1 md:flex">
      {links.map((link) => <NavLink href={link.href}>{link.text}</NavLink>)}
    </ul>

    <label class="swap swap-rotate">
      <!-- this hidden checkbox controls the state -->
      <input name="theme" type="checkbox" class="theme-controller" value="InfinityReading" />
      <Image class="swap-on h-6 w-6 fill-current mr-5" src={light} alt="light" />
      <Image class="swap-off h-6 w-6 fill-current mr-5" src={dark} alt="dark" />
    </label>
  </div>
</header>
