---
import { SOCIAL } from '@consts';
import { Image } from 'astro:assets';
// Social Icons
import dribbleIcon from '@svgs/icons8_dribbble.svg';
import githubIcon from '@svgs/icons8_github.svg';
import instagramIcon from '@svgs/icons8_instagram.svg';
import linkedInIcon from '@svgs/icons8_linkedin.svg';
import twitterIcon from '@svgs/icons8_twitter.svg';
---

<div class="mt-8 inline-flex space-x-4">
  <span>Social Links:</span>
  <a class="tooltip tooltip-bottom" data-tip="LinkedIn" href={SOCIAL.LINKEDIN} target="_blank">
    <Image class="social-icon" src={linkedInIcon} alt="Link to my LinkedIn profile" />
  </a>
  <a class="tooltip tooltip-bottom" data-tip="Twitter / X." href={SOCIAL.TWITTER} target="_blank">
    <Image class="social-icon" src={twitterIcon} alt="My Twitter AKA The X." />
  </a>
  <a class="tooltip tooltip-bottom" data-tip="GitHub" href={SOCIAL.GITHUB} target="_blank">
    <Image class="social-icon" src={githubIcon} alt="My Github." />
  </a>
  <a class="tooltip tooltip-bottom" data-tip="Dribble" href={SOCIAL.DRIBBLE} target="_blank">
    <Image class="social-icon" src={dribbleIcon} alt="My Dribble." />
  </a>
  <a class="tooltip tooltip-bottom" data-tip="Instagram" href={SOCIAL.INSTAGRAM} target="_blank">
    <Image class="social-icon" src={instagramIcon} alt="My Instagran." />
  </a>
</div>
