---
import { SOCIAL } from '@consts';
import { Icon } from 'astro-icon/components';
---

<div class="flex items-center justify-start space-x-2 font-body lg:space-x-8">
  <span class="text-sm lg:text-lg">Connect with me:</span>
  <a
    class="tooltip tooltip-bottom"
    data-tip="LinkedIn"
    href={SOCIAL.LINKEDIN}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my LinkedIn profile"
  >
    <Icon class="size-10" name="linkedin" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Twitter / X."
    href={SOCIAL.TWITTER}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Twitter profile"
  >
    <Icon class="size-10" name="twitter" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="GitHub"
    href={SOCIAL.GITHUB}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my GitHub profile"
  >
    <Icon class="size-10" name="github" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Dribble"
    href={SOCIAL.DRIBBLE}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Dribble profile"
  >
    <Icon class="size-10" name="dribble" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Instagram"
    href={SOCIAL.INSTAGRAM}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Instagram profile"
  >
    <Icon name="instagram" class="size-10" />
  </a>
</div>
