---
import { SOCIAL } from '@consts';
import { Image } from 'astro:assets';
// Social Icons
import dribbleIcon from '@svgs/icons8_dribbble.svg';
import githubIcon from '@svgs/icons8_github.svg';
import instagramIcon from '@svgs/icons8_instagram.svg';
import linkedInIcon from '@svgs/icons8_linkedin.svg';
import twitterIcon from '@svgs/icons8_twitter.svg';
---

<div class="flex items-center justify-start space-x-3 font-body lg:space-x-8">
  <span class="text-sm lg:text-lg">Connect with me:</span>
  <a
    class="tooltip tooltip-bottom"
    data-tip="LinkedIn"
    href={SOCIAL.LINKEDIN}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my LinkedIn profile"
  >
    <Image class="size-10" src={linkedInIcon} alt="LinkedIn logo" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Twitter / X."
    href={SOCIAL.TWITTER}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Twitter profile"
  >
    <Image class="size-10" src={twitterIcon} alt="Twitter logo" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="GitHub"
    href={SOCIAL.GITHUB}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my GitHub profile"
  >
    <Image class="size-10" src={githubIcon} alt="GitHub logo" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Dribble"
    href={SOCIAL.DRIBBLE}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Dribble profile"
  >
    <Image class="size-10" src={dribbleIcon} alt="Dribble logo" />
  </a>
  <a
    class="tooltip tooltip-bottom"
    data-tip="Instagram"
    href={SOCIAL.INSTAGRAM}
    target="_blank"
    rel="noopener noreferrer"
    aria-label="Visit my Instagram profile"
  >
    <Image class="size-10" src={instagramIcon} alt="Instagram logo" />
  </a>
</div>
