---
import FormattedDate from '@components/FormattedDate.astro';
import MainLayout from '@layouts/MainLayout.astro';
import { getCollection } from 'astro:content';

// Filter out content entries with draft: true
const publishedProjectEntries = await getCollection('projects', ({ data }) => {
  return data.draft !== true;
});

const projects = publishedProjectEntries.sort(
  (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<MainLayout>
  <h1 class="mb-4 text-center font-display text-2xl font-bold md:text-4xl">
    sl [infinity] projects [🔨].
  </h1>
  <p class="mb-8 text-center font-body text-lg">
    Here are some of the projects I've worked on.
    <br /><a href="https://twitter.com/kashurgeek" target="_blank" class="text-primary">
      Follow me on twitter
    </a> to get notified when I post something new.
    <br /> showing [{projects.length}] projects.
  </p>
  <main>
    <section class="mx-8 grid grid-cols-2 gap-4 md:grid-cols-4 lg:grid-cols-5">
      {
        projects.map((project) => (
          <a href={`/projects/${project.slug}/`}>
            <div class="bg-base-500 card card-compact w-full border-2 border-primary shadow-xl">
              <figure>
                <img src={project.data.heroImage} alt="{project.data.heroImage}" />
              </figure>
              <div class="card-body">
                <h2 class="card-title font-display">{project.data.title}</h2>
                <FormattedDate date={project.data.pubDate} />
                <p class="font-body">{project.data.description}</p>
                <div class="card-actions justify-end">
                  {project.data.tags &&
                    project.data.tags.map((tag: string) => (
                      <div class="badge badge-outline">{tag}</div>
                    ))}
                </div>
              </div>
            </div>
          </a>
        ))
      }
    </section>
  </main>
</MainLayout>
